
OIB_Project/Service/obj/Debug/Service.csproj.AssemblyReference.cache
OIB_Project/Service/bin/Debug/Common.pdb
OIB_Project/Service/bin/Debug/Common.dll
OIB_Project/Common/obj/Debug/Common.pdb
OIB_Project/Common/obj/Debug/Common.dll
OIB_Project/Common/obj/Debug/Common.csproj.AssemblyReference.cache
OIB_Project/Common/bin/Debug/Common.pdb
OIB_Project/Common/bin/Debug/Common.dll
OIB_Project/Client/obj/Debug/Client.csproj.AssemblyReference.cache
OIB_Project/Client/bin/Debug/Common.pdb
OIB_Project/Client/bin/Debug/Common.dll
OIB_Project/.vs/OIB_Project/v16/.suo
